/* static/hola_mundo_app/css/estilo.css */
html body {
    background-color: #315b864e;
}
input[type="number"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#resultadoSuma, #respuestaSubir, #labelq1 , #labelq2 , #labelq3 , #labelq4 , #mensaje {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
    border-radius: 4px;
    display: inline-block;
}

/* estilo.css */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.left, .right {
    grid-column: span 3;
}

.center {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los items horizontalmente en el contenedor */
    gap: 10px; /* Espacio entre los elementos */
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%; /* Asegura que el grupo de input use todo el ancho disponible */
}


.input-group label {
    display: block; /* Hace que la etiqueta ocupe su propia línea */
    margin-top: 10px; /* Espacio sobre la etiqueta */
}

.input-group input {
    margin-bottom: 20px; /* Espacio debajo del input */
    flex: 1; /* Distribuye el espacio disponible por igual entre los inputs */
}





/* estilo.css */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left, .center, .right {
        grid-column: span 12; /* Hace que cada sección ocupe el ancho completo */
    }

    .input-group {
        flex-direction: column; /* Apila los inputs verticalmente */
    }
}



.botonera-especifica {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    padding: 20px; /* Espacio alrededor de los botones */
    gap: 20px; /* Espacio entre los botones */
    align-items: center; /* Alinea verticalmente */
     /* Ocupa todo el viewport verticalmente para centrar todo el conjunto */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho definido */
}

.boton-especifico {
    width: 400px !important;
    height: 400px !important;
    background-color: #9b42cfb0 !important; /* Color de fondo verde */
    color: white !important; /* Color del texto blanco */
    border: none !important; /* Sin borde */
    border-radius: 10px !important; /* Bordes redondeados */
    font-size: 36px !important; /* Tamaño del texto */
    cursor: pointer !important; /* Cursor en forma de mano */
    transition: background-color 0.3s, transform 0.3s; /* Transición para el fondo y la transformación */
    text-align: center; /* Centra el texto */
    display: flex; /* Facilita el centrado del texto */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.boton-especifico:hover {
    background-color: #367c39 !important; /* Color más oscuro al pasar el ratón */
    transform: scale(1.1) !important; /* Efecto de escala al pasar el ratón */
}
