<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Suma de Números</title>
        <link rel="stylesheet" href="{% static 'hola_mundo_app/css/estilo.css' %}">
    </head>
<body>

<!-- index.html -->
<div class="container">
    <div class="left">
        <!-- Espacio para contenido adicional o vacío -->
    </div>
    <div class="center">
        <div class="input-group">
            <label for="px">Px</label>
            <input type="number" id="px" placeholder="Número 1">
            
            <label for="py">Py</label>
            <input type="number" id="py" placeholder="Número 2">
            
            <label for="num3">Pz</label>
            <input type="number" id="pz" placeholder="Número 3">
        </div>
        
        <div class="center">
        <button id="parametrosBtn">Calcular Parametros</button>
        <p id="labelq1">q1</p>
        <p id="labelq2">q2</p>
        <p id="labelq3">q3</p>
        <p id="labelq4">q4</p>
    </div>
        <script src="{% static 'hola_mundo_app/js/script.js' %}"></script>
    </div>
    <div class="right">
        <div id="texto-actualizado">Aquí se mostrará el texto actualizado.</div>
        <!-- Espacio para contenido adicional o vacío -->
    </div>
</div>
</body>
</html>


