<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú Principal</title>
        <link rel="stylesheet" href="{% static 'hola_mundo_app/css/estilo2.css' %}">
        <link rel="stylesheet" href="{% static 'hola_mundo_app/css/estiloGradilla.css' %}">
    </head>
<body>
    <h1 class="page-title">Dosificador de Sustancias Químicas</h1> <!-- Título de la página aquí -->
    <h1> </h1>

<!-- index.html -->
<div class="botonera-especifica">
    <button class="boton-especifico" onclick="gradillaPolar()">
        <img src="{% static 'hola_mundo_app/images/brazo-robotico.png' %}" alt="Logo Gradilla Polar" style="height: 50%; width: auto;">
        Gradilla Polar
    </button>
    <button class="boton-especifico" onclick="gradillaLAC()">
        <img src="{% static 'hola_mundo_app/images/tubo-de-ensayo.png' %}" alt="Logo Gradilla LAC" style="height: 50%; width: auto;">
        Gradilla Cuadricular
    </button>

</div>


        <!-- Espacio para contenido adicional o vacío -->
        <script src="{% static 'hola_mundo_app/js/scripmenu.js' %}"></script>
   

</body>
</html>


