<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Carga de Tubos Polar</title>
   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'hola_mundo_app/css/estiloGradilla.css' %}">
    <link rel="stylesheet" href="{% static 'hola_mundo_app/css/estiloTabla.css' %}">
</head>

<body>

    <h1 class="page-title">
        <button onclick="purgarBomba()" class="icon-button">
            <img src="{% static 'hola_mundo_app/images/grifo-de-agua.png' %}" alt="Configuración">
        </button>
        Dosificador de Sustancias Químicas Gradilla Cuadricular
        <button onclick="cambiarPagina()" class="icon-button">
            <img src="{% static 'hola_mundo_app/images/hogar.png' %}" alt="Menú Principal">
        </button>
    </h1>
    
    <h1> </h1>


    <div class="fan-container-2">
        <div class="input-container">
            <div class="input-group-2">
                
                <input type="number" id="filas" placeholder="Filas" value="4">
                <label for="filas">Filas Gradilla</label>
            </div>
            <div class="input-group-2">
                
                <input type="number" id="columnas" placeholder="Columnas" value="6">
                <label for="filas">Columnas Gradilla</label>
            </div>
        </div>
        <div class="button-container">
            <button onclick="crearTabla()" class="centered-button">Crear Tabla</button>
           
        </div>
    </div>
    <h1> </h1>
    <div class="fan-container-2">

        <div id="tabla"></div>


    </div>
    <h1> </h1>
    <div class="fan-container-2">
        <div class="input-container">
            <div class="input-group-2">
                <label for="altura">Altura gradilla (mm)</label>
                <input type="number" id="altura" placeholder="En milimetros" value="170">
            </div>
            <div class="input-group-2">
                <label for="mililitros">Cantidad Sustancia (ml)</label>
                <input type="number" id="mililitros" placeholder="En mililitros" value="10">
            </div>
        </div>

        <div class="button-container">
            <button title="Haz clic para iniciar el proceso de Carga" id="toggleListBtn" class="centered-button"
                disabled onclick="mostrarConfirmacion()">Cargar Gradilla</button>
            <button title="Haz clic para reiniciar la selección de tubos en la Gradilla" id="resetButton2"
                class="centered-button" disabled onclick="reiniciar()">Reiniciar Gradilla</button>
        </div>
        <div id="buttonListContainer" style="display: none;">
            <h3>Botones Activos:</h3>
            <ul id="buttonList"></ul>
        </div>
    </div>

  

    <div class="center">
        <p id="mensaje">Dispositivo no Conectado</p>
    </div>
    <div id="miConfirmacion"
        style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); justify-content: center; align-items: center;">
        <div
            style="background-color: rgba(207, 174, 214, 0.813); padding: 20px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); width: 300px;">
            <div class="centrados">
                <p>¿Estás seguro de que quieres realizar esta acción?</p>
                <div class="button-container">
                    <button onclick="confirmar()">Sí</button>
                    <button onclick="cancelar()">No</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Ventana emergente de no conexión -->
    <div id="noConexion"
        style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); justify-content: center; align-items: center;">
        <div
            style="background-color: rgba(207, 174, 214, 0.813); padding: 20px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); width: 300px;">
            <div class="centrados">
                <h1>⚠️</h1>
                <p>No estás conectado al Robót</p>
                <p>Verifica la conexión y reintenta</p>

                <div class="button-container">
                    <button onclick="cerrarNoConexion()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="purgado"
        style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); justify-content: center; align-items: center;">
        <div
            style="background-color: rgba(207, 174, 214, 0.813); padding: 20px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); width: 300px;">
            <div class="centrados">
                <p>¿Estás seguro de que quieres iniciar el proceso de purgado?</p>
                <div class="button-container">
                    <button onclick="confirmarPurgado()">Sí</button>
                    <button onclick="cancelarPurgado()">No</button>
                </div>
            </div>
        </div>
    </div>


    <div id="confirmacionPurgando"
        style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); justify-content: center; align-items: center;">
        <div
            style="background-color: rgba(207, 174, 214, 0.813); padding: 20px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); width: 300px;">
            <div class="centrados">
                <h1><i class="fas fa-cog"></i></h1>
                <p>El robot se está posicionando en el Vaso de Purgado</p>
                <p>Presiona Comenzar para inciar el Proceso </p>

                <div class="button-container">
                    <button onclick="comenzar()">Comenzar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loadingSpinner" style="display: none;">
        <div class="spinner"></div>
    </div>
    

    <script src="{% static 'hola_mundo_app/js/tablaNueva.js' %}"></script>


</body>

</html>