<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <title>Tabla</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
   {% load static %}
   <link rel="stylesheet" href="{% static 'hola_mundo_app/css/estiloTabla.css' %}">

</head>
<body>

    <h1 class="page-title-nueva">Dosificador de Sustancias Químicas Gradilla LAC</h1> <!-- Título de la página aquí -->
    <h1> </h1>


    <div class="container">
        <div class="left">
            <!-- Espacio para contenido adicional o vacío -->
            <label for="num5">Altura en Milimetros</label>
        <input type="number" id="altura" placeholder="Altura">
        </div>
        <div class="center">
            <div class="input-group">
<input type="number" id="filas" placeholder="Filas">
<input type="number" id="columnas" placeholder="Columnas">
</div>
<div>
<button onclick="crearTabla()">Crear Tabla</button>
<button id="btnCeldasPintadas" style="display:none;" onclick="mostrarCeldasPintadas()">Mostrar Celdas Pintadas</button>
<button id="btnMoverRobot" style="display:none;" onclick="moverRobot()">Mover Robot</button>
</div>
<div> 
<div id="tabla"></div>
<div id="celdasPintadas"></div>
</div>
</div>

<script src="{% static 'hola_mundo_app/js/tabla.js' %}"></script>

<div class="right">
    <div class="center">
        <p id="mensaje">Dispositivo no Conectado</p>
        <label for="num4">Mililitros</label>
        <input type="number" id="mililitros" placeholder="Mililitros">
</div>
</div>
</body>
</html>
